body{
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
}

/* NavBar styles */
.nav-link {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #4F4F4F !important;
}
ul{
  list-style: none;
  padding-inline-start: 0;
}